# Dependencies
node_modules/

# Environment variables
.env
ENV/

# Logs
*.log

# Temporary files
tmp/
temp/

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build output
dist/
build/

# If you decide not to include lock files (not recommended)
# package-lock.json
# yarn.lock
